<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class='text-align-center'>
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button ion-button icon-start>
    <ion-icon name="home"></ion-icon>
    Left Icon
  </button>

  <ion-list>

    <ion-item>
      <ion-label floating>Peso (kg)</ion-label>
      <ion-input type="numeric"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Altura(m)</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
  </ion-list>

</ion-content>
